@import "@fontsource/poppins";

@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  font-family:"Poppins",sans-serif;
  background:#F8FAFC;
  color:#0F172A;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

section{
  padding:100px 0;
}

.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}

.gold{
  color:#D4AF37;
}

.btn-primary{
  background:#1E3A8A;
  color:white;
  padding:14px 30px;
  border-radius:50px;
  transition:.3s;
}

.btn-primary:hover{
  background:#0F172A;
}

.btn-outline{
  border:2px solid #1E3A8A;
  color:#1E3A8A;
  padding:14px 30px;
  border-radius:50px;
  transition:.3s;
}

.btn-outline:hover{
  background:#1E3A8A;
  color:white;
}
